.App {
  text-align: center;
}

.head {
  height: 75px;
  padding: 1rem;
  color: white;
  background: darkgrey;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home {
  cursor: pointer;
}

.home:hover {
  color: black;
}

.MyPage {
  text-align: right;
}