.My-random-Saying-box {
  margin: auto;
  text-align: center;
  width: 600px;
  height: 450px;
  margin-top: 50px;
  background: #f5cd79;
  border: 1px solid black;
  border-radius: 20px;
}

.My-random-Saying-List {
  text-align: center;
  font-weight: 600;
  border: 1px solid black;
  margin: 50px;
  background-color: white;
  margin-bottom: 100px;
}

.My-Saying {
  margin-top: 20px;
}

.My-random-Saying-greatman {
  text-align: center;
  font-weight: 600;
  border: 1px solid black;
  margin-top: 40px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: white;
}

.listName{
  margin-top: 15px;
}

ul {
  display: block;
  margin: auto;
  list-style: none;
  padding-left: 0px;
}

li {
  margin: auto;
  width: 400px;
}

.list-box {
  margin: auto;
  margin-top: 20px;
  width: 600px;
  height: 360px;
  border: 1px solid black;
  border-radius: 20px;
}

.List-input {
  vertical-align: -9px;
  margin-right: 5px;
}

.list-box-ul {
  border: 1px solid black;
  margin: auto;
  margin-top: 20px;
  overflow-y: auto;
  height: 220px;
  width: 500px;
}

.modify-List {
  margin-top: 5px;
  margin-left: 120px;
}

.spanName {
  margin-left: 60px;
  margin-right: 140px;
}

.spanBox {
  font-weight: 600;
}

.modify-Button-Box {
  margin-top: 10px;
  margin-left: 178px;
}

.modify-Buttons {
  width: 70px;
  margin-left: 10px;
}

.My-Another-Saying {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 225px;
  height: 60px;
}